#kontener {
    display: grid;
    grid-template-areas: 
    "Header Header"
    "Nav Main"
    "Footer Footer";
    grid-template-columns: 1fr 2fr;
    /* 
    Może Anomalia będzie zadowolony z tego, że robie template-
    */
}

header {
    grid-area: Header;
}

nav {
    grid-area: Nav;
}

main {
    grid-area: Main;
}

footer {
    grid-area: Footer;
}