:root {
    --oragne1: #f57c00;
    --oragne2: #ff9800;
    --orange3: #ffa000;
    --cream: #ffe0b2;
    --cyan1: #00BCD4;
    --cyan2: #4db6ac;
    --cyan3: #005F73;
    --grey: #727272;
    --dark: #212121;
}

* { 
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
    background-color: var(--dark);
}

#kontener {
    background-color: var(--oragne1);
}

header {
    background-color: var(--cyan3);
    color: white;
    padding-left: 10rem;
    background-image: url(./logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    background-color: var(--oragne2);
    border-bottom: 1px solid var(--cream); 
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: white;
}

main {
    background-color: var(--cream);
    padding: 1rem;
}

main img {
    height: 100%;
    float: left;
    margin-right: 1rem;
}

h2 {
    color: var(--grey)
}

/* Formularz */

    form {
        background-color: white;
        padding: 2.5rem;
    }

    form div.rudnica label {
        display: inline-block;
        width: 15rem;
        text-align: right;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    form div p {
        margin-left: 1.5rem;
    }

    form div#radio div {
        margin-bottom: 0.75rem;
    }

    form div#pasword {
        margin-top: 1rem;
        width: 10rem;
        margin-left: 1.5rem;
    }

    form fieldset {
        width: calc(1/3 * 100%);
        margin-left: 20%;
    }

    form legend {
        color: blue;
        font-style: italic;
    }

    form div#checkBoxex div {
        width: 50%;
        margin: 0.5rem auto auto auto;
        color: darkred;
    }

    form div#browser {
        display: flex;
        flex-direction: column;
    }

    form div#browser select {
        color: blue;
        width: 30%;
        margin-left: 20%;
    }

    form div#browser label {
        margin-top: 1.5rem;
        margin-left: 20%;
    }

    form div#browser textarea {
        width: calc(1/3 * 100%);
        margin-left: 20%;
    }

    form select#language {
        width: 20%;
        margin-left: 15%;
    }

footer {
    background-color: var(--grey);
    background-image: url(./gnome.png);
    background-size: contain;
    text-align: center;
    padding: 1rem;
}