:root {
    --oragne1: #f57c00;
    --oragne2: #ff9800;
    --orange3: #ffa000;
    --cream: #ffe0b2;
    --cyan1: #00BCD4;
    --cyan2: #4db6ac;
    --grey: #727272;
    --dark: #212121;
}

* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0;
}

#kontener {
    background-color: var(--oragne1);
}

header {
    background-color: var(--cyan1);
}

main {
    background-color: var(--cream);
}

footer {
    background-color: var(--grey);
    background-image: url(./gnome.png);
    background-size: contain;
}